<div class="container" style="padding:20px;">
  <a class="btn btn-sm btn-primary float-right" style="margin-bottom:8px;margin-left:8px;" href="/new">New snippet</a>
  {{ $length := len . }} {{ if eq $length 0 }}
  <div class="card" style="width:100%;text-align:center;margin-top:100px; ">
    <h3 style="text-align:center;margin:100px;"> No Snippets Found! </h3>
  </div>
  {{ end }}
  {{ range . }}
  <div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">{{ .Title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">In {{ .Language }}</h6>
    <pre><code class="card-text" class={{ .Language | getCode }}>{{.Code}}</code></pre>
    <a href="{{.References}}" target="_blank" class="card-link">{{.References}}</a>
    <div class="card-body">
      <a href="/edit/{{ .Key }}" class="btn btn-primary">Edit</a>
      <a href="/delete/{{ .Key }}" class="btn btn-primary" id="delete">Delete</a>
    </div>
  </div>
  </div>
  {{ end }}
</div>
<script>
hljs.initHighlightingOnLoad();
// $("#delete").on("click", function() {
//   console.log("Came here");
//   $("form").submit();
// });
</script>
</script>
