{{ $endpoint := .Endpoint }}
{{ $mailEnabled := .MailEnabled }}
{{ $slackEnabled := .SlackEnabled }}
<div class="container" style="padding:20px;">
  {{ if ne .ErrorMessage ""}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{ .ErrorMessage }}</strong>
    </div>
  {{ end }}
  <a class="btn btn-sm btn-primary float-right" style="margin-bottom:8px;margin-left:8px;" href="/index">Home</a>
  <a class="btn btn-sm btn-primary float-right" style="margin-bottom:8px;margin-left:8px;" href="/new">New snippet</a>
  {{ $length := len .SnippetInfos }} {{ if eq $length 0 }}
    <div class="card" style="width:100%;text-align:center;margin-top:100px; ">
      <h3 style="text-align:center;margin:100px;"> No Snippets Found! </h3>
    </div>
  {{ end }}
  {{ range .SnippetInfos }}
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">{{ .Title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">In {{ .Language }}
        <div class="tooltip" style="opacity: 1 !important;">
          <span class="tooltiptext copyTooltip">Copy Code!</span>
          <span style="margin:15px; cursor:pointer;" onclick="copyToClipboard({{ .Key }})" onmouseout="outFunc()"><i class="fa fa-copy" aria-hidden="true"></i>
          </span>
        </div>
        </h6>
        <pre><code class="card-text code_{{ .Key }}" class={{ .Language | getCode }}>{{.Code}}</code></pre>
        {{template "_references" .References}}
        <div class="card-body">
          <a href="/edit/{{ .Key }}" class="btn btn-primary">Edit</a>
          <a href="/delete/{{ .Key }}" class="btn btn-primary" id="delete">Delete</a>
          <a href="#" class="btn btn-primary" style="cursor: pointer;" data-toggle="modal" data-target="#shareModal" id="share" data-key="{{ .Key }}">Share with code-directour user</a>
          <a href="#" class="btn btn-primary" style="cursor: pointer;" data-toggle="modal" data-target="#shareLinkModal" id="sharelink" data-key="{{ .Key }}" data-name="{{ .Owner }}" data-endpoint="{{ $endpoint }}">Share Link</a>
          {{ if $mailEnabled }}
            <a href="#" class="btn btn-primary" style="cursor: pointer;" data-toggle="modal" data-target="#shareViaMail" id="shareviamail" data-key="{{ .Key }}" data-name="{{ .Owner }}">Share Snippet via Mail</a>
          {{ end }}
          {{ if $slackEnabled }}
            <a href="#" class="btn btn-primary" style="cursor: pointer;" data-toggle="modal" data-target="#shareViaSlack" id="shareviaslack" data-key="{{ .Key }}" data-name="{{ .Owner }}">Share Snippet via Slack</a>
          {{ end }}
        </div>
        <div class="card-footer text-muted timestamp" id="{{ .CreatedAt }}" data-createdat="{{ .CreatedAt }}" data-modifiedat="{{ .ModifiedAt }}">
        </div>
      </div>
    </div>
  {{ end }}
</div>
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareModalLabel">Share With Code Directour User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" id="shareform" method="POST">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label required">User Name</label>
            <input type="text" name="recepient" class="form-control" id="shared-with" required placeholder="Enter code-directour user name">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Share</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="shareLinkModal" tabindex="-1" role="dialog" aria-labelledby="shareLinkModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareLinkModalLabel">Shareable Link</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p></p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="shareViaMail" tabindex="-1" role="dialog" aria-labelledby="shareViaMailLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareViaMailLabel">Share Via Email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" id="sharemailform" method="POST">
          <div class="form-group">
            <label for="name" class="col-form-label">Name</label>
            <input type="text" name="name" class="form-control" id="shared-with" placeholder="Enter Name to share with">
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label required">Email ID</label>
            <input type="text" name="email" class="form-control" id="shared-with" required placeholder="Enter Email ID to share with">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Share</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="shareViaSlack" tabindex="-1" role="dialog" aria-labelledby="shareViaSlackLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareViaSlackLabel">Share Via Slack</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" id="shareslackform" method="POST">
          <div class="form-group">
            <label for="name" class="col-form-label required">Slack User ID</label>
            <input type="text" name="name" class="form-control" id="shared-with" required placeholder="Enter Slack User ID">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Share</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  hljs.initHighlightingOnLoad();
  var recepientform;
  window.onload = function() {
          recepientform = document.getElementById("shareform");
          emailform = document.getElementById("sharemailform");
          slackform = document.getElementById("shareslackform");
      }
  $('#shareModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget)
    var recepient = button.data('key')
    recepientform.action = "/share/"+ recepient;
  })
  $('#shareViaMail').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget)
    var recepient = button.data('key')
    emailform.action = "/sharemail/"+ recepient;
  })
  $('#shareViaSlack').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget)
    var recepient = button.data('key')
    slackform.action = "/shareslack/"+ recepient;
  })
  $('#shareLinkModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget)
    var link = button.data('key')
    var name = button.data('name')
    var endpoint = button.data('endpoint')
    console.log(endpoint);
    shareLink = endpoint + "/link/" + link + "/" + name
    var modal = $(this)
    modal.find('.modal-body p').text(shareLink)
  })
  moment.locale('en');
  $('div.timestamp').each(function(i, d) {
        document.getElementById(d.id).innerHTML = "<b>Modified At:</b> " + moment(parseInt(d.dataset.modifiedat)*1000).fromNow() + "<br></br>" + "<b>Created At:</b> " + moment(parseInt(d.dataset.createdat)*1000).fromNow();
    });
</script>
