{{ $code := .Snippet.Language | getAceCode }}
<div id="edit-container">
  <div class="container" style="padding:20px;">
    <div class="alert alert-success alert-dismissible collapse" id="successToast" role="alert">
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Updated Successfully!!!</strong>
    </div>
    <div class="alert alert-danger alert-dismissible collapse" id="errorToast" role="alert">
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Some Error Occured!!!</strong>
    </div>
  <form class="form-horizontal" id="edit-settings">
    <input type="hidden" name="key" value="{{ .Snippet.Key }}">
    <h3>New Snippet</h3>
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" id="title" aria-describedby="titleHelp" name="title" value="{{ .Snippet.Title }}" required placeholder="Enter title">
      <small id="titleHelp" class="form-text text-muted">A short description might help you for your future references</small>
    </div>
    <div class="form-group">
      <label> Language: </label>
      <select class="form-control language" name="language" aria-describedby="languageHelp" onChange="changeLanguage(this.options[this.selectedIndex].getAttribute('code'));">
        {{range .Languages }}
        <option value="{{.Code}}" code="{{.AceCode}}" {{if eq .AceCode $code }} selected {{ end }}>{{.Name}}</option>
        {{ end }}
      </select>
      <small id="languageHelp" class="form-text text-muted">Choose the language for your code snippet</small>
    </div>
    <div class="form-group">
      <label> Code: </label>
    <div class="form-control" aria-describedby="codeHelp" id="editor">{{ .Snippet.Code }}</div>
    <small id="codeHelp" class="form-text text-muted">Paste the code or write anything you need later</small>
  </div>
  <input class="form-control" id="code" name="code" type="hidden">
    <div class="form-group">
      <label> References(if any): </label>
      <input class="form-control" id="title" aria-describedby="referencesHelp" name="references" value="{{ .Snippet.References }}" placeholder="Enter references">
      <small id="referencesHelp" class="form-text text-muted">Paste any URLs of the code snippet or a page number of a book maybe</small>
    </div>
    <button type="submit" class="btn btn-primary edit-submit">Submit</button>
    <a class="btn btn-secondary" style="margin-left:8px;" href="/all">Cancel</a>
  </form>
</div>
</div>
<script>
function getFormData($form){
    var unindexed_array = $form.serializeArray();
    var indexed_array = {};

    $.map(unindexed_array, function(n, i){
        indexed_array[n['name']] = n['value'];
    });

    return indexed_array;
}
$('.alert .close').click(function(){
   $(this).parent().hide();
});
$('.edit-submit').click(function (e) {
      e.preventDefault();
      $.ajax({
        url: '/save',
        type: 'POST',
        data : getFormData($("#edit-settings")),
        success : function(data) {
          $('#successToast').show();
        },
        error: function(data) {
          $('#errorToast').show();
        }
      });
   });
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/{{$code}}");
    editor.on("change",(function(){
       $('#code').val(editor.getValue());
    }));
    function changeLanguage(value) {
        editor.session.setMode("ace/mode/"+value);
    }
</script>
