<div class="container" style="padding:20px;">
	<div class="row">
			<div class="offset-sm-3 col-sm-6">
				<h3 align="center">Welcome {{.}}
					<form method="POST" action="/logout" style="display:inline-block;">
						<span id="logout" style="margin:15px; cursor:pointer;"><i class="fa fa-sign-out" aria-hidden="true"></i>
						</span>
					</form>
				</h3>
		    <div class="list-group" style="margin:50px;">
					<a href="/new" class="list-group-item list-group-item-action">Create a New Snippet</a>
		      <a href="/all" class="list-group-item list-group-item-action">See All Snippets</a>
					<a href="/sharedto" class="list-group-item list-group-item-action">See Snippets you shared</a>
		      <a href="/shared" class="list-group-item list-group-item-action">See Snippets shared with you</a>
		      <a href="/#" class="list-group-item list-group-item-action">Profile Settings</a>
		    </div>
			</div>
		</div>
</div>
<script>
$("#logout").on("click", function() {
  $("form").submit();
});
</script>
