<a class="btn btn-sm btn-primary float-right" style="margin-right: 164px;margin-top:-40px;" href="/index">Home</a>
<a class="btn btn-sm btn-primary float-right" style="margin-right: 232px;margin-top:-40px;" href="/all">All Snippets</a>
<div class="container profile" style="padding:20px;">
  <div class="alert alert-success alert-dismissible collapse" id="successToast" role="alert">
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Updated Successfully!!!</strong>
  </div>
  <div class="alert alert-danger alert-dismissible collapse" id="errorToast" role="alert">
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Some Error Occured!!!</strong>
  </div>
  <div id="profile-settings" >
    <form class="form-horizontal" id="form-link">
      <h4 class="profileheadings"> Link Settings </h4>
      <div class="form-group">
        <label for="endpoint">Link Endpoint</label>
        <input type="text" class="form-control" id="share-endpoint" name="endpoint" aria-describedby="endpointHelp" placeholder="https://code-directour.com" value="{{ .Endpoint}}">
        <small id="endpointHelp" class="form-text text-muted"><b>The link endpoint with which you can share the snippets with your colleagues. Please fill this to enable Sharing By Link</b></small>
      </div>
      <button type="submit" class="btn btn-primary profile-submit" data-type="link">Submit</button>
      <a class="btn btn-secondary" style="margin-left:8px;" href="/index">Cancel</a>
    </form>
    <form class="form-horizontal" id="form-email">
      <h4 class="profileheadings"> Email Settings </h4>
      <div class="form-group">
        <label for="server">SMTP Server</label>
        <input type="text" class="form-control" name="server" placeholder="smtp.gmail.com" value="{{ .Email.Server}}">
      </div>
      <div class="form-group">
        <label for="port">SMTP Port</label>
        <input type="port" class="form-control" name="port" placeholder="587" value="{{ .Email.Port}}">
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="abc@gmail.com" value="{{ .Email.Address}}">
        <small id="emailHelp" class="form-text text-muted">Email Address which will send the emails</small>
      </div>
      <div class="form-group">
        <label for="password">Email Password</label>
        <input type="password" class="form-control" name="password" aria-describedby="passwordHelp" placeholder="**********" value="{{ .Email.Password}}">
        <small id="passwordHelp" class="form-text text-muted">Refer to README.md for details.</small>
      </div>
      <div class="form-group">
        <label for="sendername">Sender Name</label>
        <input type="text" class="form-control" name="sendername" aria-describedby="sendernameHelp" placeholder="Code Directour" value="{{ .Email.SenderName}}">
        <small id="sendernameHelp" class="form-text text-muted">Sender Name to show in the emails</small>
      </div>
      <div class="form-group">
        <label for="senderemail">Sender Email</label>
        <input type="email" class="form-control" name="senderemail" aria-describedby="senderemailHelp" placeholder="no-reply@code-directour.com" value="{{ .Email.SenderEmail}}">
        <small id="senderemailHelp" class="form-text text-muted">Sender Email to show in the emails</small>
      </div>
      <button type="submit" class="btn btn-primary profile-submit" data-type="email">Submit</button>
      <a class="btn btn-secondary" style="margin-left:8px;" href="/index">Cancel</a>
    </form>
    <form class="form-horizontal" id="form-slack">
    <h4 class="profileheadings"> Slack Settings </h4>
    <div class="form-group">
      <label for="token">Slack Token</label>
      <input type="text" class="form-control" name="token" aria-describedby="tokenHelp" placeholder="xoxb-xxxxxxxxxxxxxxxxxxxxxxxxxxx" value="{{.Slack.Token}}">
      <small id="tokenHelp" class="form-text text-muted">Refer to README.md for details of generating slack bot token. Please fill this to enable Sharing By Slack.</small>
    </div>
    <button type="submit" class="btn btn-primary profile-submit" data-type="slack">Submit</button>
    <a class="btn btn-secondary" style="margin-left:8px;" href="/index">Cancel</a>
  </form>
  </div>
<script>
function getFormData($form){
    var unindexed_array = $form.serializeArray();
    var indexed_array = {};

    $.map(unindexed_array, function(n, i){
        indexed_array[n['name']] = n['value'];
    });

    return indexed_array;
}
$('.alert .close').click(function(){
   $(this).parent().hide();
});
  $('.profile-submit').click(function (e) {
        e.preventDefault();
        $.ajax({
          url: '/profile/' + $(this).data('type') + '/save',
          type: 'POST',
          data : getFormData($("#form-" + $(this).data('type'))),
          success : function(data) {
            $('#successToast').show();
          },
          error: function(data) {
            $('#errorToast').show();
          }
        });
     });
</script>
