<div class="container" style="padding:20px;">
  <a class="btn btn-sm btn-primary float-right" style="margin-bottom:8px;margin-left:8px;" href="/index">Home</a>
  <a class="btn btn-sm btn-primary float-right" style="margin-bottom:8px;margin-left:8px;" href="/new">New snippet</a>
  {{ $length := len . }} {{ if eq $length 0 }}
  <div class="card" style="width:100%;text-align:center;margin-top:100px; ">
    <h3 style="text-align:center;margin:100px;"> No Snippets Found! </h3>
  </div>
  {{ end }}
  {{ range . }}
    <div class="card" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">{{ .Title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">In {{ .Language }}
      <div class="tooltip" style="opacity: 1 !important;">
        <span class="tooltiptext copyTooltip">Copy Code!</span>
        <span style="margin:15px; cursor:pointer;" onclick="copyToClipboard({{.Key}})" onmouseout="outFunc()"><i class="fa fa-copy" aria-hidden="true"></i>
        </span>
      </div>
      </h6>
      <pre><code class="card-text code_{{ .Key }}" class={{ .Language | getCode }}>{{.Code}}</code></pre>
      {{template "_references" .References}}
    </div>
    </div>
  {{ end }}
</div>
<script>
hljs.initHighlightingOnLoad();
</script>
</script>
